$main-background: hsla(233, 49%, 7%, 1);
$card-background: hsla(244, 38%, 16%, 1);
$accent: hsla(277, 64%, 61%, 1);

$main-heading: hsla(0, 0%, 100%, 1);
$main-paragraph: hsla(0, 0%, 100%, 0.75);
$main-stats-headings: hsla(0, 0%, 100%, 0.6);

$view-mobile: 375px;
$view-desktop: 1440px;

$font-headers: 'Inter', sans-serif;
$font-body: 'Lexend Deca', sans-serif;

// BODY
body {
  background: $main-background;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

// CARD
.cards {
  max-width: $view-mobile;
  margin: 8.5rem 2.4rem 0 2.4rem;
  border-radius: 15px;
  background: $card-background;
  text-align: center;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.card-image {
  border-radius: 15px 15px 0 0;
  background: $accent;
  order: 0;
}

.card-image .desktop {
  display: none;
}

.card img {
  border-radius: 15px 15px 0 0;
  mix-blend-mode: multiply;
  filter: opacity(0.8);
}

.content {
  color: $main-paragraph;
  font-family: $font-body;
  margin-block-start: 3.4rem;
}

.content header h2 {
  color: $main-heading;
  font-family: $font-headers;
  padding: 0 2rem;
  margin-block-end: 0.4rem;
  font-size: 3rem;
  line-height: 3.2rem;
}

.content .highlight-text {
  color: $accent;
}

.card-stats {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content > p {
  padding: 0 3.5rem 4.2rem 3.5rem;
  margin: 0;
  font-size: 1.5rem;
  line-height: 2.6rem;
  letter-spacing: 0.08rem;
}
.content .card-stats h3 {
  color: $main-heading;
  font-size: 2.2rem;
  line-height: 27px;
  margin-block-end: 1rem;
}
.content .card-stats p {
  color: $main-paragraph;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin: 0 0 3rem 0;
}

@media screen and (min-width: 1440px) {
  .cards {
    max-width: 110rem;
    margin: 0;
  }

  .card {
    flex-direction: row;
  }

  .card-image {
    order: 1;
    border-radius: 0 15px 15px 0;
    width: 53.5rem;
  }
  .content {
    order: 0;
    width: 56rem;
    margin-block-start: 0;
    align-self: center;
    text-align: left;
  }

  .content header {
    padding: 0 6rem 0 8rem;
  }

  .content > p {
    padding: 0 13rem 7rem 8rem;
    font-size: 14px;
    line-height: 25px;
  }

  .card-image .mobile {
    display: none;
  }

  .card-image .desktop {
    display: initial;
  }

  .content header h2 {
    font-size: 38px;
    line-height: 42px;
    letter-spacing: -0.02em;
    padding: 0;

  }

  .card-stats {
    margin-left: 8rem;
    justify-content: left;
    flex-direction: row;
  }

  .card-stats h3 {
    padding-right: 6.5rem;
    font-size: 2.8rem;
  }

  .card-stats p {
    margin-bottom: 0;
  }
}

/* FRONTEND MENTOR ATTRIBUTION STYLES */
.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 2rem;
  color: $accent;
}

.attribution a {
  color: $main-heading;
  text-decoration: underline;
}
