$main-background: hsla(233, 49%, 7%, 1);
$card-background: hsla(244, 38%, 16%, 1);
$accent: hsla(277, 64%, 61%, 1);

$main-heading: hsla(0, 0%, 100%, 1);
$main-paragraph: hsla(0, 0%, 100%, 0.75);
$main-stats-headings: hsla(0, 0%, 100%, 0.6);

$view-mobile: 375px;
$view-desktop: 1440px;

$font-headers: 'Inter', sans-serif;
$font-body: 'Lexend Deca', sans-serif;

// BODY
body {
  background: $main-background;
  max-width: $view-desktop;
  min-width: $view-mobile;
  // margin: 9rem 1.6rem 9rem 1.6rem;
  padding-block-start: 9rem;
}

// CARD
.cards {
  max-width: 32.5rem;
  margin: 0 auto;
  border-radius: 15px 15px 15px 15px;
  background: $card-background;
  text-align: center;
  padding-bottom: 3.5rem;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.card-image {
  border-radius: 15px 15px 0 0;
  background: $accent;
  // border: 1px solid white;
  order: 0;
}

.card-image .desktop {
  display: none;
}

.card img {
  border-radius: 25px 25px 0 0;
  mix-blend-mode: multiply;
  filter: opacity(0.8);
}

.content {
  color: $main-paragraph;
  font-family: $font-body;
  margin-block-start: 4rem;
  // border: 1px solid white;
}

.content header h2 {
  color: $main-heading;
  font-family: $font-headers;
  padding: 0 2rem;
  font-size: 3rem;
  line-height: 3.2rem;
}

.content .highlight-text {
  color: $accent;
}

.card-stats {
  // border: 1px solid greenyellow;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content > p {
  padding: 0 3.5rem;
  font-size: 1.5rem;
  line-height: 2.6rem;
  letter-spacing: 0.08rem;
}
.content .card-stats h3 {
  color: $main-heading;
  margin: 0;
  padding-bottom: 1rem;
}
.content .card-stats p {
  color: $main-paragraph;
}

@media screen and (min-width: 1440px) {
  .cards {
    max-width: 111rem;
    padding-bottom: 0;
  }

  .card {
    flex-direction: row;
  }

  .card-image {
    order: 1;
    align-self: center;
    border-radius: 0;
    width: 54rem;
  }
  .content {
    order: 0;
    width: 56rem;
    margin-block-start: 0;
    padding-inline-start: 6rem;
    padding-inline-end: 11rem;
    padding-top:6.5rem;
    align-self: center;
    text-align: left;
  }

  .card-image .mobile {
    display: none;
  }

  .card-image .desktop {
    display: initial;
  }

  .content header h2 {
    font-size: 38px;
    line-height: 42px;
    letter-spacing: -0.02em;
    padding: 0;
  }

  .content > p {
    padding: 0;
  }

  .card-stats {
    margin-top: 6rem;
    align-self: center;
    flex-direction: row;
  }

  .card-stats h3 {
  // .card-stats p:nth-child(2) {
    padding-right: 6.5rem;
    font-size: 2.8rem;
  }

}

/* FRONTEND MENTOR ATTRIBUTION STYLES */
.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 2rem;
  color: $accent;
}

.attribution a {
  color: $main-heading;
  text-decoration: underline;
}
